<!DOCTYPE html>
<html>
  <head>
    <title>QueztestFriendship</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= notice %>
    <%= alert %>

    <% if player_signed_in? %>
      Signed in as <%= current_player.name %>
      <br />
    <% end %>

    <ul>
      <li><%= link_to "Dashboard", "/dashboard" %></li>
      <li><%= link_to "Players", "/players" %></li>
    </ul>


    <%= yield %>

  </body>
</html>
