<!DOCTYPE html>
<html>
  <head>
    <title>QueztestFriendship</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if player_signed_in? %>
      Signed in as <%= current_player.name %>
      <br />
    <% end %>

    <%= yield %>

  </body>
</html>
